.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.parentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse
}

div.allTasks {
  display: flex;
  flex-direction: row;
}

div.today {
  background: #EEE;
}

div.rose {
  background: #FDD;
}

div.forest {
  background: #DFD;
}

div.sea {
  background: #D6FFFB;
}

div.taskHeader.today {
  background: #AAA;
}

div.taskHeader.rose {
  background: #FAA;
}

div.taskHeader.forest {
  background: #AFA;
}

div.taskHeader.sea {
  background: #89FFF4;
}

div.taskContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  min-height: 200px;
  max-height: 800px;
  min-width: 250px;
  max-width: 800px;
}

div.taskHeader {
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
}

div.taskItem {
  padding: 5px;
  margin: 5px 20px 0px 20px;
}